.root{
    --color-dark: rgb(27, 21, 21);
    --color-light: white;
}



.dark{
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: 10px;
    box-shadow: 0 0 10px saddlebrown;
}

.light{
    background-color: var(--color-dark);
    color: var(--color-light);
}